body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.section-header {
    background: url(img/bgc-1.png) 50% 50% no-repeat;
    background-size: cover;
}

.section-header-content {
    height: 900px;
    width: 1110px;
    margin: 0 auto;
    font-size: 14px;
}

.header {
    margin-bottom: 580px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
}

.header-navigation {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.header-link {
    width: 25%;
    border-right: 1px solid white;
    padding: 15px;
    color: rgb(221, 221, 221);
    text-decoration: none;
    text-align: center;
}

.header-link:hover {
    color: white;
}

.header-link:last-child {
    border-right: none;
}

.main-links-block {
    display: flex;
    justify-content: center;
}

.main-link {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 30px;
    background-color: #998431;
    color: rgb(221, 221, 221);
}

.main-link:hover {
    color: white;
}

.main-link:last-child {
    margin-left: 30px;
}

.section-text {
    height: 856px;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-text-content {
    height: 656px;
    width: 1110px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-text-header {
    color: #fff;
    margin: 60px 0 40px 0;
    text-align: center;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}

.section-text-text {
    width: 730px;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 40px;
    position: relative;
}

.section-text-text::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 1px;
    background: white;
    top: 0;
    left: 315px;
}

.wine-glass-img {
    height: fit-content;
    width: fit-content;
}

.wine-description-section {
    height: 878px;
    padding: 80px 0;
    background-color: #E6E3C4;
}

.wine-description-content {
    width: 1110px;
    display: flex;
    padding: 60px 0;
    margin: 0 auto;
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
}

.wine-description-block {
    width: 445px;
    display: flex;
    flex-direction: column;
}

.small-wine-images {
    margin-top: 30px;
    display: flex;
}

.small-image:first-child {
    margin-right: 30px;
}

.wine-images-block {
    margin-left: 125px;
}

.description-block-header {
    margin: 30px 0;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}

.top-wine-description-text {
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
}

.top-wine-description-text::before {
    position: absolute;
    top: 0;
    content: "";
    height: 1px;
    width: 160px;
    background: black;
}

.description-block-chart {
    margin-bottom: 30px;
}

.wine-description {
    height: 76px;
    box-sizing: border-box;
    display: flex;
    border-bottom: 1px solid black;
}

.wine-description:nth-last-child(3) {
    border-bottom: none;
}

.wine-year {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}

.wine-description-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.top-text {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    font-family: 'Playfair Display', serif;
}

.bottom-wine-description-text {
    margin: 30px 0;
}

.description-link {
    width: fit-content;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 30px;
    background-color: #998431;
    color: rgb(221, 221, 221);
}

.description-link:hover {
    color: white;
}

.user-form-section {
    height: 767px;
    position: relative;
    padding-top: 130px;
    background-color: #282828;
}

.left-form-image {
    position: absolute;
    top: -70px;
    left: -30px;
}

.form-header {
    position: absolute;
    top: -30px;
    left: 318px;
    font-size: 36px;
    font-weight: 700;
    padding: 10px 50px;
    background-color: #282828;
    color: white;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.right-form-image {
    position: absolute;
    top: -65px;
    right: -53px;
}

.user-form-content {
    height: 538px;
    width: 1110px;
    border: 1px solid white;
    margin: 0 auto;
    position: relative;
}

.form-block {
    width: 540px;
    margin: 0 auto;
    margin-top: 70px;
    padding-top: 40px;
    color: white;
}

.form-text {
    text-align: center;
}

.input-block {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 40px;
}

.personal-info-input {
    width: calc(50% - 15px);
    color: white;
    border: none;
    outline: none;
    padding-bottom: 10px;
    background-color: #282828;
    border-bottom: 1px solid white;
    font-family: 'Montserrat', sans-serif;
}

.stores-select-input {
    width: calc(100% - 4px);
    color: white;
    border: none;
    outline: none;
    padding-bottom: 10px;
    background-color: #282828;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.user-form-button {
    width: 100%;
    border: 1px solid white;
    color: rgb(221, 221, 221);
    background-color: #282828;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.user-form-button:hover {
    color: white;
    cursor: pointer;
}

.section-footer {
    height: 220px;
    background-color: #998431;
}

.section-footer-content {
    width: 1110px;
    margin: 0 auto;
    padding-top: 50px;
}

.top-footer-links {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.top-footer-link {
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 221, 221);
    text-decoration: none;
}

.top-footer-link:hover {
    color: white;
    cursor: pointer;
}

.bottom-footer-links {
    height: 60px;
    display: flex;
    border-bottom: 1px solid white;
}

.bottom-links-block {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgb(221, 221, 221);
}

.social-networks {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}